<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/about">About<span class="sr-only">(current)</span></a>
            
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/help">Help</a>
          
            </li>
            <li class="nav-item">
              
              <a class="nav-link" routerLink="/event-binding">event</a> 
            </li>
            <li class="nav-item">
              
              <a class="nav-link" routerLink="/ngfor">ngFor</a> 
            </li>
            <li class="nav-item">
              
              <a class="nav-link" routerLink="/ngswitch">ngSwitch</a> 
            </li>
                <a class="nav-link" routerLink="/property-binding">property</a>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/two-way">two way</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/reactive-form">reactive-form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/parent">parent</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/login">login</a>
                      </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <li class="nav-item">
              
              <a class="nav-link" routerLink="/ngif">ngIf</a> 
            </li>
          </form>
        </div>
      </nav>
      