<div _ngcontent-qpl-c3="" class="col-md-4 offset-md-4">
    <select _ngcontent-qpl-c3="" class="form-control ng-valid ng-dirty ng-touched">
        <option _ngcontent-qpl-c3="" value="in">India</option>
        <option _ngcontent-qpl-c3="" value="us">United States</option>
        <option _ngcontent-qpl-c3="" value="ua">Dubai</option>
        <option _ngcontent-qpl-c3="" value="ru">Russia</option>
    </select>
</div>
<div _ngcontent-qpl-c2="" class="col-md-3 float-left">
    <div _ngcontent-qpl-c2="" class="col-md-12 card card-body" *ngFor="let new of news">
        <img _ngcontent-qpl-c2="" alt="News Image" class="card-img-top" src ="{{new.urlToImage}}">
        <h5 _ngcontent-qpl-c2="">{{new.title}}</h5>
    </div>
</div>
<div _ngcontent-qpl-c2="" class="col-md-3 float-left">
    <div _ngcontent-qpl-c2="" class="col-md-12 card card-body" *ngFor="let new of news1">
        <img _ngcontent-qpl-c2="" alt="News Image" class="card-img-top" src ="{{new.urlToImage}}">
        <h5 _ngcontent-qpl-c2="">{{new.title}}</h5>
    </div>
</div>
<div _ngcontent-qpl-c2="" class="col-md-3 float-left">
    <div _ngcontent-qpl-c2="" class="col-md-12 card card-body" *ngFor="let new of news2">
        <img _ngcontent-qpl-c2="" alt="News Image" class="card-img-top" src ="{{new.urlToImage}}">
        <h5 _ngcontent-qpl-c2="">{{new.title}}</h5>
    </div>
</div>
<div _ngcontent-qpl-c2="" class="col-md-3 float-left">
    <div _ngcontent-qpl-c2="" class="col-md-12 card card-body" *ngFor="let new of news3">
        <img _ngcontent-qpl-c2="" alt="News Image" class="card-img-top" src ="{{new.urlToImage}}">
        <h5 _ngcontent-qpl-c2="">{{new.title}}</h5>
    </div>
</div>