<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand active" routerLink="/home">Payyavula Rajasekhar

    </a>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link " style="color:white" routerLink="/countries">Countries</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" style="color:white" routerLink="/categories" href="#">
    Categories
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" style="color:white" routerLink="/sour" href="#">
    Sources

    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLink="/search" href="#">
      SearchNews
  
      </a>
      </li>
    
  </ul>
  </nav>
