form{
    border: 1px solid black;
    width: 250px;
    height: 200px;
    padding :  20px;
    background-color: rgb(203, 199, 207);
    margin-left: 200px;
    text-align: left;
    font-family:initial;
}
body{
    background-image:
}