<div class="col-md-4 mt-5 offset-4 card card-body">
    <h2 class="text-center text-light bg-dark">Admin Login Form</h2>
    <form action="" #form="ngForm" (ngSubmit)="adminLogin(form)">
        <div class="form-group">
            <input type="number" name="id" id="id" #id="ngModel" ngModel class="form-control" placeholder="enter id" required>
        <div *ngIf="id.touched && id.invalid">
            <p class="text-danger" *ngIf="id.errors.required">This field required</p>
        </div>
        </div>
        <div class="form-group">
                <input type="password" name="password" #password="ngModel" ngModel id="password" class="form-control" placeholder="enter password" required>
         <div *ngIf="password.touched && password.invalid">
            <p class="text-danger" *ngIf="password.errors.required">This field required</p>
          </div>
         </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Login</button>
        </div>
            
    </form>
</div>