#page{
        background-image: url(C:/Users/DELL/Desktop/cssproject/image/milky-way-2750627__340.jpg);
}
#n1{
    color: white;
    font-family: cursive;
    font-size: 50px;
    text-decoration: none;
}
#n2{
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
